@media only screen and (min-width: 1000px) and (max-width: 1300px) {
    .login_left ul {
        gap: 38px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 999px) {
    :root {
        --p40: 20px;
        --login-right: 330px;
        --regiwidth: 97%;
        --regileft: 195px;
    --lftw: 264px;
    --gap:10px;
    }

    .login_left h2 {
        font-size: 40px;
    }

    .login_left p {
        margin-bottom: 15px;
        font-size: 12px;
    }

    .login_left ol {
        gap: 15px;
        margin-bottom: 15px;
    }

    .login_left ol li {
        gap: 8px;
    }

    .login_left ol li h6 g {
        font-size: 12px;
    }

    .login_left ol li h6 n {
        font-size: 10px;
    }

    .login_left ol li span {
        height: 29px;
        min-width: 29px;
        font-size: 13px;
    }

    .login_left ul {
        gap: 22px;
        padding-top: 15px;
    }

    .login_left ul li n {
        font-size: 26px;
        line-height: 31px;
    }

    .login_left ul li i {
        font-size: 10px;
    }

    .speaker_head h2 {
        font-size: 16px;
    }

    .speaker_head h2 span {
        font-size: 11px;
    }

    .speaker_head a {
        font-size: 11px;
    }

    .login_right {
        padding: 20px;
    }

    .login_right h4 {
        font-size: 18px;
    }

    .login_right p {
        font-size: 12px;
    }

    .login_head h6 {
        font-size: 11px;
    }

    .login_head h2 {
        font-size: 33px;
    }

    .login_head p {
        font-size: 12px;
    }

    .login_head {
        gap: 2px;
    }

    .registration_left ul li {
        font-size: 10px;
        padding: 5px 12px;
    }

    .registration_left_bottom h5 {
        font-size: 20px;
    }

    .registration_left_bottom h6 {
        font-size: 11px;
        margin-bottom: 4px;
    }

    .registration_right_head {
        padding: 14px 25px;
        font-size: 16px;
        height: 53px;
    }

    .registration_right_bottom {
        padding: 14px 25px;
        height: 55px;
    }

    .registration_right_body {
        padding: 14px 25px;
        height: calc(100% - 108px);
    }

    .cus_check.regi_category .checkmark,
    .cus_check.workshop_select .checkmark,
    .stay_wrap li,
    .cus_check.stay_select .checkmark,
    .cus_check.gender_check .checkmark {
        padding: 10px 12px;
    }

    .cus_check.regi_category .checkmark n,
    .cus_check.workshop_select .checkmark n,
    .stay_wrap li .stay_li_right n {
        gap: 11px;
    }

    .cus_check.regi_category,
    .cus_check.workshop_select,
    .cus_check.gender_check {
        font-size: 13px;
    }

    .cus_check.regi_category .checkmark g ii,
    .cus_check.workshop_select .checkmark g ii,
    .stay_wrap li .stay_li_right g ii {
        font-size: 10px;
    }

    .cus_check.regi_category .checkmark n g,
    .cus_check.workshop_select .checkmark g,
    .stay_wrap li .stay_li_right n g {
        line-height: 14px;
    }

    .cus_check.regi_category .checkmark n i,
    .cus_check.workshop_select .checkmark n i {
        height: 30px;
        min-width: 30px;
        font-size: 12px;
    }

    .cus_check.regi_category .checkmark h,
    .cus_check.workshop_select .checkmark h {
        font-size: 13px;
        gap: 17px;
    }

    .cus_check.regi_category .checkmark h i,
    .cus_check.workshop_select .checkmark n iii,
    .stay_wrap li .stay_li_right n iii {
        min-width: 16px;
        height: 16px;
    }

    .cus_check.regi_category .checkmark h i::before,
    .cus_check.workshop_select .checkmark n iii::before,
    .stay_wrap li .stay_li_right n iii::before {
        width: 4px;
        height: 7px;
        left: 1px;
        top: 7px;
    }

    .cus_check.stay_select .checkmark {
        line-height: 15px;
        padding: 5px 12px;
        font-size: 11px;
    }

    .stay_wrap li .stay_li_right .cus_check_wrap {
        margin-top: 10px;
    }

    .stay_wrap li img {
        min-width: 158px;
        height: 124px;
    }

    .registration_right_body_head_left h5 {
        font-size: 11px;
    }

    .registration_right_body_head_left h4 {
        font-size: 16px;
    }





    .profile_body,
    header {
        left: 0;
        width: 100%;
       
    }

    .profile_detail_content h2 {
        margin-bottom: 3px;
        font-size: 18px;
    }

    .profile_detail_content h5 {
        margin-bottom: 11px;
        font-size: 11px;
    }

    .profile_detail_content h6 span {
        padding: 5px 9px;
        gap: 6px;
        font-size: 10px;
    }

    .profile_detail_img img {
        height: 68px;
        width: 68px;
    }

    .profile_detail_img label {
        width: 24px;
        height: 24px;
        font-size: 10px;
    }

    .profile_detail_right a,
    .profile_top_right a {
        font-size: 11px;
        padding: 4px 9px;
    }

    .workshop_detail .profile_detaile_box_body ul li p,
    .guest_detail .profile_detaile_box_body ul li p {
        font-size: 11px;
        line-height: 15px;
        padding-right: 24px;
    }

    .workshop_detail .profile_detaile_box_body ul li p n,
    .guest_detail .profile_detaile_box_body ul li p n {
        font-size: 10px;
    }

    .workshop_detail .profile_detaile_box_body ul li a,
    .guest_detail .profile_detaile_box_body ul li a {
        display: block;
    }

    .accom_detail .profile_detaile_box_body h4 span {
        padding: 5px 9px;
        font-size: 10px;
    }

    .profile_top_left h2 {
        font-size: 20px;
    }

    .profile_top_left h6 {
        font-size: 10px;
    }



    #menu.is-moving {
        transition: none;
    }

    #menu.open {
        transition: .255s ease-out;
        left: 0;
    }


    #touch-taget {
        position: absolute;
        left: 100%;
        height: 150px;
        width: 7px;
        background: #ffffff;
        display: flex;
        align-items: center;
        top: 50%;
        transform: translateY(-50%);
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }


    .profile_bottom_box p {
        font-size: 11px;
        margin-bottom: 15px;
    }

    .profile_bottom_box a {
        padding: 5px 9px;
        font-size: 10px;
    }

    .profile_bottom_box h4 {
        font-size: 12px;
        margin-bottom: 7px;
    }

    .profile_detail .fa-shield-check {
        font-size: 100px;
    }

    .hotel_box .hotel_box_right .stay_li_right {
        padding: 10px 12px;
        flex-direction: column;
        gap: 5px;
    }

    .guest_wrap_grp {
        display: flex;
        flex-direction: column;
    }

    .guest_wrap_grp input {
        width: 200px;
        font-size: 11px;
        padding: 5px 20px;
        height: 27px;
    }

    .guest_wrap li .guest_wrap_grp h {
        font-size: 12px !important;
        line-height: 27px;
    }
        .profile_grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
        .span_grid {
        grid-column: span 1 / span 1;
    }

.profile_detail {
    flex-direction: column;
    gap: var(--gap);
    align-items: start;
}
.help_top h4, .help_bottom h4 {
    font-size: 10px;
}
.help_top p, .help_bottom p {
    font-size: 10px;
    margin-bottom: 10px;
}
.help_top h6, .help_bottom h6 {
    font-size: 11px;
}
.profile_detaile_box_head h3 span {
    font-size: 11px;
    height: 28px;
    min-width: 28px;
}
.profile_detaile_box_head {
    margin-bottom: 10px;
}
.profile_detaile_box_head h3 {
    font-size: 12px;
}
    .accom_detail .profile_accm_list li {
    flex-direction: column;
}
.profile_accm_list_left, .profile_accm_list_right {
    width: 100%;
}
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
    .login_left {
        width: 100%;
        padding-right: 0;
    }

    .login_wrap {
        flex-direction: column;
        gap: var(--p40);
    }

    .login_left ul,
    .login_left ol {
        justify-content: center;
    }

    .registration_left {
        width: 100%;
        flex-direction: row;
        align-items: center;
        position: relative;
        padding: 12px;
        padding-bottom: 48px;
        height: 104px;
    }

    .registration_left ul {
        position: absolute;
        flex-direction: row;
        bottom: 4px;
        left: 1%;
        width: 98%;
        justify-content: space-between;
    }

    .registration_left ul li {
        text-align: center;
        font-size: 14px;
        padding: 4px 11px;
    }

    .registration_left ul li i {
        margin-right: 0;
    }

    .registration_left ul li span {
        display: none;
    }

    .registration_inner {
        flex-direction: column;
        height: 90vh;
    }

    .registration_right {
        width: 100%;
        border-left: 0;
        border-top: 1px solid var(--border);
    }

    .registration_left_bottom {
        padding: 9px;
        flex: 1;
        text-align: right;
    }

    .registration_left_head {
        flex: 2;
    }

    .registration_left_head h6 {
        margin: 0;
    }

    .registration_right_head {
        padding: 8px 12px;
        font-size: 13px;
        height: 37px;
    }

    .registration_right_body {
        padding: 8px 12px;
        height: calc(100% - 77px);
    }

    .registration_right_bottom {
        padding: 8px 12px;
        height: 40px;
    }

    .registration_right {
        height: calc(100% - 104px);
    }

    .registration_right_bottom button {
        padding: 5px 11px;
        font-size: 11px;
    }

    .registration_right_body_head_left h4 {
        font-size: 14px;
    }

    .registration_right_body_head_left h5 {
        font-size: 9px;
    }

    .registration_left_bottom h5 {
        font-size: 15px;
    }

    .registration_left_bottom h6 {
        font-size: 9px;
        margin-bottom: 2px;
    }

    .registration_left_head h5 {
        margin-bottom: 2px;
        font-size: 16px;
    }

    .registration_left_head h6 {
        font-size: 10px;
    }

    .cus_check_wrap.g2 {
        grid-template-columns: 1fr;
    }

    .hotel_box_right .cus_check_wrap.g2,
    .guest_wrap_grp .cus_check_wrap.g2 {
        grid-template-columns: 1fr 1fr;
    }

    .stay_wrap li {
        flex-direction: column;
    }

    .stay_wrap li img {
        min-width: 100%;
    }

    .stay_wrap li .stay_li_right .cus_check_wrap {
        grid-template-columns: 1fr 1fr;
    }

    .review_wrap {
        flex-direction: column;
    }

    .guest_wrap table .sl {
        width: 40px;
    }

    .guest_wrap table .action {
        width: 47px;
    }

    .guest_wrap table tbody td {
        padding: 5px;
        font-size: 11px;
    }

    .guest_wrap table thead th {
        padding: 5px;
        font-size: 10px;
    }

    .add_guest {
        padding: 6px;
        font-size: 10px;
    }





    .profile_detail_content h2 {
        text-align: center;
    }

    .profile_detail,
    .profile_top {
        flex-direction: column;
        gap: var(--gap);
        align-items: center;
    }

    .profile_detail_left,
    .accom_detail .profile_detaile_box_body,
    .profile_bottom {
        flex-direction: column;
    }

    .profile_detail_content h5 {
        justify-content: center;
        flex-direction: column;
        gap: 1px;
    }

    .profile_detail_content h6 span {
        font-size: 9px;
    }

    .accom_detail .profile_detaile_box_body img {
        min-width: 100%;
    }

    .profile_detaile_box_head button {
        font-size: 9px;
    }

    .profile_detaile_box_head h3 {
        font-size: 12px;
    }

    .profile_detaile_box_head h3 span {
        font-size: 11px;
        height: 30px;
        min-width: 30px;
    }

    .workshop_detail .profile_detaile_box_body ul li a,
    .guest_detail .profile_detaile_box_body ul li a {
        font-size: 12px;
    }

    header .header_right span {
        font-size: 10px;
        padding: 3px 8px;
    }

    header .header_right span i {
        font-size: 4px;
    }

    header .header_right {
        gap: 5px;
    }

    header .header_right button {
        font-size: 11px;
        padding: 3px 6px;
    }

    .profile_top {
        align-items: start;
    }

    .profile_detail .fa-shield-check {
        top: 78%;
    }

    .hotel_box .hotel_box_inner {
        gap: 10px;
        flex-direction: column;
    }

    .hotel_box .hotel_box_right .stay_li_right {

        flex-direction: row;
    }

    .hotel_box .hotel_box_left .hote_box_left_top {
        width: 100%;
    }

    .hotel_box .hotel_box_left .hote_box_left_bottom {
        margin-top: 10px;
    }

    .registration_right_body_sub_head {
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }

    .registration_right_body_sub_head .registration_right_body_head_right,
    .registration_right_body_sub_head .registration_right_body_head_right .cus_check_wrap .checkmark {
        width: 100%;
    }

    .guest_wrap_inner {
        gap: 7px;
        flex-direction: column;
    }

    .guest_wrap_grp input {
        width: 100%;
    }

    .guest_wrap li {
        padding: 8px 11px;
        padding-right: 30px;
    }

    .guest_action {
        width: 30px;
    }

    .registration_right_bottom button.skip-button {
        right: 111px;
    }

    .profile_right_menu {
        width: 100%;
        height: auto;
        overflow: unset;
    }
        .profile_left_menu {
        z-index: 2;
        left: calc(var(--lftw) / -1);
        /* backdrop-filter: blur(20px); */
        transition: .5s;
        width: 100%;
        height: auto;
        overflow: unset;
    }
    .profile_body{
 flex-direction: column;
        /* height: auto; */
        overflow: auto;
}
header .header_right a {
    gap: 6px;
    font-size: 10px;
    padding: 5px 9px;
}
.con_logo {
    width: 100px;
}
}