@media only screen and (min-width: 1000px) and (max-width: 1680px) {
  .login_body_lft h2 {
    font-size: 107px;
    line-height: 110px;
  }
  .login_body_lft h4 {
    color: white;
    font-size: 19px;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1600px) {}

@media only screen and (min-width: 1000px) and (max-width: 1500px) {}

@media only screen and (min-width: 1000px) and (max-width: 1400px) {}

@media only screen and (min-width: 1000px) and (max-width: 1366px) {

}

@media only screen and (min-width: 1000px) and (max-width: 1360px) {}

@media only screen and (min-width: 1000px) and (max-width: 1280px) {}

@media only screen and (min-width: 1000px) and (max-width: 1152px) {
  .login_body_lft h4 {
    font-size: 14px;
    padding-bottom: 0px !important;
    line-height: 17px;
  }

  .login_body_lft h2 {
    font-size: 60px;
    line-height: 61px;
  }

  .login_body_lft p {
    margin-top: -33px;
    font-size: 17px;
  }
  .login_body_rt {
    width: 327px;
  }
  
  .login_body_rt form {
    padding: 28px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
  header {
    padding: 0 25px;
  }

  .login_body {
    padding: 25px;
  }

  .login_body_rt form {
    padding: 28px;
  }


  .login_body_lft h4 {
    font-size: 14px;
    padding-bottom: 0px !important;
    line-height: 17px;
  }

  .login_body_lft h2 {
    font-size: 60px;
    line-height: 61px;
  }

  .login_body_lft p {
    margin-top: -33px;
    font-size: 17px;
  }

  .login_body_rt {
    width: 327px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
  header {
    height: auto;
    padding: 30px 60px;
    background: white;
    flex-direction: column;
    gap: 13px;
  }

  header img {
    height: 56px;
  }


  .login_body_rt {
    width: 100%;
  }

  .login_body_rt form {
    padding: 28px;
  }


  .login_body {
    height: auto;
    padding: 30px 12px;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 30px;
  }

  .login_body_lft {
    width: 100%;
  }

  .login_body_lft h4 {
    font-size: 14px;
    padding-bottom: 0px !important;
    line-height: 17px;
  }

  .login_body_lft h2 {
    font-size: 60px;
    line-height: 61px;
  }

  .login_body_lft p {
    margin-top: -33px;
    font-size: 17px;
  }
}