@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Jaini&family=Jaldi:wght@400;700&display=swap');

:root {
	--color1: #FFCF9D;
	--color2: #DE8F5F;
	--color3: #FFB26F;
	--color4: #FFB38E;
	--color-text: #292828;
	--color-bg: #ddd;
	--color-link: #000;
	--color-link-hover: #000;
	--page-padding: 1rem;
	--angle: -15deg;
	--trans-content: -30vh;
	--color-text: #fff;
	--color-bg: #12100e;
	--color-link: rgba(255, 255, 255, 0.6);
	--color-link-hover: #fff;
	--color-bg-1: #2f251e;
	--color-bg-2: #43392f;
	--color-bg-3: var(--color-bg-1);
	--color-bg-4: var(--color-bg-2);
	--color-bg-5: var(--color-bg-1);
	--color-bg-6: var(--color-bg-2);
	--x: 0;
	--y: 0;
	--offset: 84px;
}

a,
a:hover {
	color: inherit;
	text-decoration: none;
}

button:active,
button:focus,
input:active,
input:focus,
textarea:active,
textarea:focus,
select:active,
select:focus {
	outline: 0;
}

body {
	color: #000;
	font-family: "Bricolage Grotesque", sans-serif;
	overflow-x: hidden;
	font-size: 16px;
	background: linear-gradient(83deg, #270000, #8b0000);
}

.container {
	max-width: 1700px;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

.py-6 {
	padding-top: 80px;
	padding-bottom: 80px;
}

.px-6 {
	padding-left: 80px;
	padding-right: 80px;
}

header {
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 60px;
	background: white;
}

header img {
	height: 60%;
}

header p {
	margin: 0;
	font-size: 19px;
	color: #000000;
	display: flex;
	align-items: center;
	gap: 10px;
}

header p span {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f79031;
	font-size: 14px;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	color: white;
}

.login_body_rt {
	width: 540px;
	position: relative;
}

.login_body_rt form {
	width: 100%;
	/* max-width: 540px; */
	margin-left: auto;
	padding: 70px 70px 50px 70px;
	height: auto;
	border-radius: 13px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 60px 0px rgba(94, 92, 154, 0.12);
}

.login_body_rt form h2 {
	font-family: "Playfair Display", serif;
	font-size: 40px;
	font-weight: 900;
	color: #c23127;
	text-align: center;
	font-style: normal;
	font-weight: 800;
	letter-spacing: 0px;
	text-transform: capitalize;
	position: relative;
	z-index: 1;
}

.input-field {
	margin-bottom: 30px;
	transition: 0.4s;
	position: relative;
	display: grid;
	align-items: center;
	width: 100%;
	height: auto;
	min-height: 52px;
	background-color: rgb(255 255 255);
	margin-bottom: 20px;
}

.input-field input {
	border: solid 1px rgb(222, 222, 234);
	border-radius: 12px;
	width: 100%;
	transition: 0.4s;
	height: 60px;
	padding-left: 20px;
	font-size: 20px;
	color: var(--secondary-color);
	font-weight: 400;
}

.input-field input:focus,
.input-field textarea:focus {
	outline: 0;
	border-color: var(--primary-color);
}

.input-field label {
	font-size: 20px;
	color: rgb(175, 176, 192);
	position: absolute;
	left: 17px;
	transition: 0.4s;
	pointer-events: none;
	width: max-content;
	padding: 0 3px;
	background-color: rgb(255 255 255);
}

.input-field:focus-within label {
	transform: translatey(-24px);
	font-size: 15px !important;
}

.input-field input:valid+label {
	transform: translatey(-24px);
	font-size: 15px;
}

.input-field input:invalid+label {
	font-size: 20px;
}

.input-field.message {
	height: 133px;
}

.input-field.message input {
	height: 100%;
}

.input-field.message label {
	top: 15px;
}

.copyright {
	font-size: 15px;
	font-weight: normal;
	color: rgb(255, 255, 255);
}

.wirzaButton {
	width: 100%;
	height: 60px;
	border-radius: 13px;
	background-color: #f7961d;
	font-size: 17px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	border: solid 1px transparent;
	transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
	text-transform: uppercase;
}

.wirzaButton:hover {
	color: #f7961d;
	border-color: #f7961d;
	background-color: transparent;
}

.login_body {
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 60px;
	position: relative;
}

.login_body_lft {
	width: 50%;
	position: relative;
}

.login_body_lft h4 {
	color: white;
	font-size: 30px;
	background: linear-gradient(to right, #ffd4fc 0%, #ff5c0e 100%) !important;
	background-clip: text !important;
	-webkit-text-fill-color: transparent;
	/* padding-bottom: 30px !important; */
}

.login_body_lft h2 {
	color: white;
	font-size: 150px;
	font-weight: 700;
	line-height: 132px;
	font-family: "Playfair Display", serif;
	background: linear-gradient(to right, #ffd4fc 0%, #ff5c0e 100%) !important;
	background-clip: text !important;
	-webkit-text-fill-color: transparent;
	/* padding-bottom: 30px !important; */
}

.login_body_lft p {
	margin-bottom: 0;
	margin-top: 25px;
	color: white;
	font-size: 24px;
}

.login_body_lft p i {}

.login_body video {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}